<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="app" id="ng-app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta property="og:image" content="/images/crm/favicon.ico">
    <meta property="og:title" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta property="og:description" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta property="description" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta name="facebook-domain-verification" content="m42fqyicyivjveja96en8nwgfe4jue" />

    <link rel="icon" href="images/crm/favicon.ico">
    <title>UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;</title>

    
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MD7KMW2');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>

    <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="js/multirange.js"></script>
    <script type="text/javascript" src="js/customSelect.js"></script>
    <script type="text/javascript" src="js/controllers/app.js?v=BshmTSyCbjb9TyXCN1KiMQpdnMKL6rWKtHTHDXvSq90"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:300,400,600,700|Noto+Sans+TC:100,300,400,500,700,900"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="crm/styles/fonts/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="crm/styles/plugins.css?v=YBizSORNBSLluqWTY1NC42TrcnHRMa9RWSskW-5sPtU">
    <link rel="stylesheet" type="text/css" href="crm/styles/common.css?v=sfLM9OIfk6-_85us-8Fwm_Naxx_0Ywf8unyC0NnsLFA">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '862438881610893');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    
    <link rel="stylesheet" type="text/css" href="crm/styles/cube.css?v=Vw8cJZZtO2WBMOsUlmoWpvbVtaJtZm38DxeMM73BJxc">
    <link rel="stylesheet" type="text/css" href="crm/styles/index.css?v=fONW-PVZqDQlm4kO524pc0YzDHoaegckM1W9S6jK1JA">


    
    <!-- Facebook Pixel Code -->
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=862438881610893&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body ng-controller="MainCtrl" ng-cloak>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MD7KMW2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="header-area header-transparrent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-2 col-2">
                            <div class="logo">
                                <a href="https://upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-8 d-flex align-items-center justify-content-end">
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a href="index.html#">&#x7522;&#x54C1;</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="https://upday.ai/Home/Sales?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="&#x92B7;&#x552E;">&#x92B7;&#x552E;</a>
                                                </li>
                                                <li>
                                                    <a href="https://upday.ai/Home/Services?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="&#x5BA2;&#x6236;&#x670D;&#x52D9;">&#x5BA2;&#x6236;&#x670D;&#x52D9;</a>
                                                </li>
                                                <li>
                                                    <a href="https://upday.ai/Home/MessageBot?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="UpChat">UpChat</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW#price">&#x50F9;&#x9322;</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="lang-btn">
                                <span class="icon"><i class="icon-earth"></i></span>
                                <ul class="lang-nav nostyle">
                                    <li><a href="index.html" title="中文" ng-click="SetLanguage('zh-TW')">中文</a></li>
                                    <li><a href="index.html" title="English" ng-click="SetLanguage('en-US')">English</a></li>
                                </ul>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-lg-4">
                                <a href="https://app.upday.ai" target="_blank"><div class="btn header-btn-login">&#x767B;&#x5165;</div></a>
                                <div class="btn header-btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;&#xFF0C;&#x7D55;&#x5C0D;&#x514D;&#x8CBB;.">申請試用
                                    <!-- Get trial-->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="CfDJ8G8ZoGzylTtPoScvxSEk6aX6FQy3s3rkYwM950c1lOiIOYWeqsnGHz2P12XrWXw8YqQ2NeFA52fhWnKJ8RUSN4D9XvRV6uCagV7JOfCvbXb0kA8ttwlGRPVmCUheGqsNrHqPIbeUheL18xGjurTNsZ4">
    <main id="home" ng-controller="homeCtrl">
    <div ng-init="crmInit()">
        <div class="hero-area">
            <div class="hero-height d-flex align-items-center" data-background="images/crm/new/home-blob-2.png">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-4 col-lg-5 col-12 mb-4 mb-sm-5 mb-xl-0">
                            <div class="hero__caption">
                                <h1 class="wow fadeInUp">&#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;</h1>
                                <p class="wow fadeInUp d-02s">UpDay &#x662F;&#x6EFF;&#x8DB3;&#x60A8;&#x73FE;&#x5728;&#x53CA;&#x5C07;&#x4F86;&#x92B7;&#x552E;&#x3001;&#x884C;&#x92B7;&#x53CA;&#x5BA2;&#x6236;&#x670D;&#x52D9;&#x6240;&#x9700;&#x7684; all-in-one CRM</p>
                                <!-- Hero-btn-->
                                <div class="btn hero__btn" data-toggle="modal" data-target="#contact-us" data-title="&#x514D;&#x8CBB;&#x53D6;&#x5F97;&#x7522;&#x54C1;&#x6F14;&#x793A;&#x6216;&#x5176;&#x4ED6;&#x8CC7;&#x8A0A;">&#x53D6;&#x5F97;&#x6F14;&#x793A;</div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-12">
                            <div class="pb-4 pic zoom hero__img noshadow wow fadeInRight d-04s"><img src="images/crm/new/hero-sales.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="bg-light pb-5 pt-5">
            <div class="container">
                 <div class="pageFill pt-5 row justify-content-center">
                    <h2 style="text-align:center; font-weight: bolder;">&#x5438;&#x5F15;&#x3001;&#x57F9;&#x990A;&#x3001;&#x958B;&#x767C;&#x3001;&#x7559;&#x4F4F;&#x5BA2;&#x6236;&#xFF0C;&#x4E00;&#x7AD9;&#x5B8C;&#x6210; &#128516;</h2>
                </div>
                 <div class="pb-4 row justify-content-center video-ontainer">
                        <iframe width="1080"
                                height="630"
                                src="https://www.youtube.com/embed/DuuElzOqhrQ"
                                frameborder="0"
                                allowfullscreen=""
                               
                                ></iframe>
                </div>
               
               
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <div class="pageFill pb-5 pt-5 row justify-content-between">
                    <div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center">
                        <h2 class="main-title">&#x96C6;&#x5408;&#x92B7;&#x552E;&#x3001;&#x884C;&#x92B7;&#x53CA;&#x5BA2;&#x6236;&#x670D;&#x52D9;&#x65BC;&#x4E00;&#x8EAB;</h2><em class="f-subTitle d-block mb-2">&#x6210;&#x70BA;&#x7372;&#x5229;&#x66F4;&#x591A;&#x3001;&#x66F4;&#x7CBE;&#x6E96;&#x3001;&#x66F4;&#x5FEB;&#x901F;&#x7684;&#x8D0F;&#x5BB6;</em>
                        <p>UpDay &#x8B93;&#x60A8;&#x7684;&#x5718;&#x968A;&#x5408;&#x4F5C;&#x7121;&#x9593;&#x63D0;&#x4F9B;&#x66F4;&#x597D;&#x7684;&#x5BA2;&#x6236;&#x670D;&#x52D9;&#x9AD4;&#x9A57;&#xFF0C;&#x900F;&#x904E;&#x8207;&#x4E0D;&#x540C;&#x6E20;&#x9053;&#x7684;&#x4E32;&#x63A5;&#x53CA;&#x8CC7;&#x6599;&#x5EFA;&#x7ACB;&#xFF0C;&#x4F86;&#x57F9;&#x990A;&#x6F5B;&#x5728;&#x5BA2;&#x6236;&#x5546;&#x6A5F;&#x53CA;&#x8655;&#x7406;&#x6848;&#x4EF6;&#xFF0C;&#x6307;&#x6D3E;&#x4EFB;&#x52D9;&#x53CA;&#x8ABF;&#x52D5;&#x6700;&#x9069;&#x7576;&#x7684;&#x8CC7;&#x6E90;&#xFF0C;&#x6210;&#x70BA;&#x4EE5;&#x5BA2;&#x6236;&#x70BA;&#x4E2D;&#x5FC3;&#x7684;&#x4F01;&#x696D;&#x54C1;&#x724C;&#x3002;</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="images/crm/image_01.png" alt="UpDay">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="container">
                <div class="pageFill pb-5 row justify-content-between">
                    <div class="col-12 col-md-4 breck-pic wow fadeInRight d-03s">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="images/crm/new/omnichannel-bg.png" alt="UpDay">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 text wow fadeIn d-flex flex-column justify-content-center">
                        <h2 class="main-title">&#x63A5;&#x89F8;&#x5BA2;&#x6236;&#x5F9E;&#x672A;&#x5982;&#x6B64;&#x7C21;&#x55AE;</h2><em class="f-subTitle d-block mb-2">&#x501F;&#x52A9; Omni-Channel &#x8A0A;&#x606F;&#x5E73;&#x53F0;&#xFF0C;&#x7121;&#x8AD6;&#x5BA2;&#x6236;&#x8EAB;&#x5728;&#x4F55;&#x8655;&#xFF0C;&#x8F15;&#x9B06;&#x8207;&#x4ED6;&#x5011;&#x6E9D;&#x901A;</em>
                        <p>&#x9023;&#x63A5;&#x6D41;&#x884C;&#x7684;&#x5BA2;&#x6236;&#x6E9D;&#x901A;&#x6E20;&#x9053;&#xFF0C;&#x5982; Email&#x3001;&#x7DB2;&#x7AD9;&#x5BE6;&#x6642;&#x804A;&#x5929;&#x3001;Facebook&#x3001;WhatsApp&#x3001;Instagram&#x3001;Line &#x7B49;&#xFF0C;&#x5E6B;&#x52A9;&#x60A8;&#x63D0;&#x4F9B;&#x4E00;&#x81F4;&#x7684;&#x5BA2;&#x6236;&#x9AD4;&#x9A57;&#x3002;</p>
                    </div>
                </div>
            </div>
        </section>
       <section class="bg-white pb-5 pt-5 pageFill sc-ptb">
            <div class="container min pb-4">
                <div class="l-iconGrid qty6">
                    <span class="name_1">銷售</span><span class="name_2">客戶服務</span><span class="line_h _01"></span><span class="line_h _02"></span><span class="line_h _03"></span><span class="line_w _01"></span><span class="line_w _02"></span><span class="line_w _03"></span><span class="line_w _04"></span>
                    <div class="item _01">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-group_G"></i></div>
                        <h3 class="l-iconGrid_name">透過 KANBAN 看板方式高效管理商機，儀表板預測各服務表現</h3>
                    </div>
                    <div class="item _02">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-time_G"></i></div>
                        <h3 class="l-iconGrid_name">發送個人化訊息至不同的客戶受眾，追蹤訊息接收及點擊的狀況</h3>
                    </div>
                    <div class="item _03">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-chart-up_G"></i></div>
                        <h3 class="l-iconGrid_name">透過通知提醒在第一時間處理不同優先等級的客戶投訴或查詢</h3>
                    </div>
                    <div class="item _04">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-certificate_G"></i></div>
                        <h3 class="l-iconGrid_name">無縫追蹤所有客戶訊息內容及互動表現</h3>
                    </div>
                    <div class="item _05">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-money-house_G"></i></div>
                        <h3 class="l-iconGrid_name">開箱即用的多渠道內外串接</h3>
                    </div>
                    <div class="item _06">
                        <div class="l-iconGrid_icon wow fadeIn d-02s" style="visibility: visible; animation-name: fadeIn;"><i class="icon-ui_G"></i></div>
                        <h3 class="l-iconGrid_name">建立知識庫並與內部人員分享，更快速解決問題</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pageFill sc-ptb pb-5 pt-5" >
            <h2 style="text-align:center; font-weight: bolder;">&#x6211;&#x5011;&#x670D;&#x52D9;&#x7684;&#x5168;&#x7403;&#x54C1;&#x724C;</h2>
            <div class="sc-ptb" style="height: 10%; padding: 0 2em;">
                <div class="row justify-content-center align-items-center clients">
                    <div class="col-12"><img class="img-fluid" style="filter:opacity(0.85);" src="images/crm/clients_bw.png" alt=""></div>
                </div>
            </div>
        </section>
        <section  class="pageFill sc-ptb pb-4">
            <div class="have-project we-padding">
            <div class="container">
                <div class="haveAproject">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>&#x60F3;&#x4E86;&#x89E3;&#x66F4;&#x591A;</h2>
                                <p>&#x60F3;&#x4E86;&#x89E3;&#x66F4;&#x591A;&#x5982;&#x4F55;&#x80FD;&#x5920;&#x96A8;&#x6642;&#x96A8;&#x5730;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x5BA2;&#x6236;&#x95DC;&#x4FC2;&#xFF0C;&#x6B61;&#x8FCE;&#x8207;&#x6211;&#x5011;&#x806F;&#x7E6B;&#x3002;</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                            <div class="wantToWork-btn f-right">
                                <div class="btn btn-ans" data-toggle="modal" data-target="#contact-us">&#x806F;&#x7E6B;&#x6211;&#x5011;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        </section>
        
        <section class="l-chartNews bg-light pageFill sc-ptb  pb-5 pt-5">
            <div class="container p-0">
                <div class="text wow fadeIn">
    
                    <div class="slider-text">
                        <span class="f-subTitle">&#x4EE5;&#x5BA2;&#x6236;&#x70BA;&#x4E2D;&#x5FC3;</span>
                        <ul class="slider">
                            <li>
                                <h2 class="main-title">&#x4E00;&#x7AD9;&#x5F0F;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;</h2>
                                <p>UpDay &#x63D0;&#x4F9B;&#x60A8;&#x6700;&#x76F4;&#x89BA;&#x7684;&#x5BA2;&#x6236;&#x6D1E;&#x5BDF;&#xFF0C;&#x5F9E;&#x5546;&#x6A5F;&#x3001;&#x8A02;&#x55AE;&#x3001;&#x8A62;&#x50F9;&#x3001;&#x554F;&#x984C;&#x652F;&#x63F4;&#x3001;&#x5BA2;&#x8A34;&#x5230;&#x6240;&#x6709;&#x7684;&#x6E9D;&#x901A;&#x7D00;&#x9304;&#xFF0C;&#x90FD;&#x80FD;&#x5920;&#x5728;&#x7B2C;&#x4E00;&#x6642;&#x9593;&#x88AB;&#x59A5;&#x5584;&#x8655;&#x7406;&#x3002;</p>
                            </li>
                            <li>
                                <h2 class="main-title">&#x5FEB;&#x901F;&#x6AA2;&#x8996; &#x7C21;&#x55AE;&#x64CD;&#x4F5C; &#x8F15;&#x9B06;&#x641C;&#x5C0B;</h2>
                                <p>&#x5B8C;&#x6574;&#x4FDD;&#x5B58;&#x6240;&#x6709;&#x8207;&#x5BA2;&#x6236;&#x7684;&#x4E92;&#x52D5;&#x72C0;&#x6CC1;&#xFF0C;&#x900F;&#x904E;AI&#x667A;&#x80FD;&#x8A08;&#x7B97;&#x4EE5;&#x53CA;&#x91CD;&#x8981;&#x4E8B;&#x9805;&#x63D0;&#x9192;&#xFF0C;&#x8B93;&#x60A8;&#x904B;&#x7C4C;&#x5E37;&#x5E44;&#x3001;&#x5FEB;&#x901F;&#x61C9;&#x8B8A;&#x3002;</p>
                            </li>
                            <li>
                                <h2 class="main-title">&#x66F4;&#x8070;&#x660E;&#x5730;&#x4E3B;&#x52D5;&#x51FA;&#x64CA;&#x806F;&#x7E6B;&#x5BA2;&#x6236;</h2>
                                <p>&#x900F;&#x904E; UpDay &#x60A8;&#x53EF;&#x4EE5;&#x5BA2;&#x88FD;&#x5316;&#x4E0D;&#x540C;&#x8A0A;&#x606F;&#x6A21;&#x677F;&#xFF0C;&#x4F86;&#x6EFF;&#x8DB3;&#x4E0D;&#x540C;&#x5BA2;&#x6236;&#x53D7;&#x773E;&#x7684;&#x9700;&#x6C42;&#xFF0C;&#x4E26;&#x4E14;&#x900F;&#x904E;&#x9EDE;&#x64CA;&#x7387;&#x3001;&#x958B;&#x555F;&#x7387;&#x7B49;&#x4E92;&#x52D5;&#x60C5;&#x5F62;&#x4F86;&#x512A;&#x5316;&#x8A0A;&#x606F;&#x5167;&#x5BB9;&#x3002;</p>
                            </li>
                            <li>
                                <h2 class="main-title">&#x5FEB;&#x901F;&#x5BA2;&#x88FD;&#x9069;&#x5408;&#x60A8;&#x7684;&#x696D;&#x52D9;&#x6D41;&#x7A0B;</h2>
                                <p>&#x5EFA;&#x7ACB;&#x53CA;&#x57F7;&#x884C;&#x60A8;&#x7684;&#x4F01;&#x696D;&#x7B56;&#x7565;&#xFF0C;&#x92B7;&#x552E;&#x3001;&#x884C;&#x92B7;&#x53CA;&#x5BA2;&#x670D;&#x6D41;&#x7A0B;&#x3002;&#x4EE5;&#x5BA2;&#x6236;&#x70BA;&#x4E2D;&#x5FC3;&#xFF0C;&#x4E26;&#x900F;&#x904E;&#x8C50;&#x5BCC;&#x958B;&#x7BB1;&#x5373;&#x7528;&#x529F;&#x80FD;&#x6EFF;&#x8DB3;&#x5BA2;&#x6236;&#x9700;&#x6C42;&#x3002;</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider-info arrow-m wow fadeInUp d-02s">
                    <ul class="slider p-4">
                        <li>
                            <div class="chart_item">
                                <div class="chart_pic jqimgFill"><img src="images/crm/slider_01.svg" alt=""></div>
                                <!-- <div class="chart_name">Source Highly Profitable Commercial and Residential Deals in Market Instantly</div> -->
                            </div>
                        </li>
                        <li>
                            <div class="chart_item">
                                <div class="chart_pic jqimgFill"><img src="images/crm/slider_02.svg" alt=""></div>
                            </div>
                            <!--  <div class="chart_name">Engage Customers Better and Close Deal Faster. </div> -->
                        </li>
                        <li>
                            <div class="chart_item">
                                <div class="chart_pic jqimgFill"><img src="images/crm/slider_03.svg" alt=""></div>
                            </div>
                            <!-- <div class="chart_name">Detailed Underwriting Reports With Data Insights</div> -->
                        </li>
                        <li>
                            <div class="chart_item">
                                <div class="chart_pic jqimgFill"><img src="images/crm/slider_04.svg" alt=""></div>
                            </div>
                            <!--  <div class="chart_name">Detailed Underwriting Reports With Data Insights</div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section  class="pageFill sc-ptb  pb-4">
            <div id="price" class="container">
                <h2 class="mb-50 mt-50" style="text-align:center;">&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;</h2>
                <div class="row cards">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="card shadow d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="images/crm/new/palm-tree.png" alt=""></div>
                                    <h3>&#x514D;&#x8CBB;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x4E00;&#x4F4D;&#x4F7F;&#x7528;&#x8005;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x806F;&#x7D61;&#x4EBA;&#x53CA;&#x516C;&#x53F8;&#x540D;&#x55AE;</li>
                                <li class="bottom-bar">&#x6700;&#x591A;30&#x7B46;&#x5546;&#x6A5F;</li>
                                <li class="bottom-bar">&#x6700;&#x591A;30&#x7B46;&#x6848;&#x4F8B;</li>
                                <li class="bottom-bar">&#x514D;&#x8CBB;&#x50B3;&#x9001;&#x9996;1000&#x5C01;&#x96FB;&#x5B50;&#x90F5;&#x4EF6;</li>
                                <li class="bottom-bar">&#x514D;&#x8CBB;&#x767C;&#x9001;&#x9996;100&#x5C01;&#x7C21;&#x8A0A;*</li>
                                <li> <p class="mb-0 w-100" style="font-style: italic;">* &#x6BCF;&#x5C01;&#x984D;&#x5916;&#x7C21;&#x8A0A;&#x4EE5;$0.07USD&#x53E6;&#x5916;&#x8A08;&#x50F9;</p></li>
                            </ul>
                         
                            <div class="d-flex justify-content-center bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;&#xFF0C;&#x7D55;&#x5C0D;&#x514D;&#x8CBB;.">&#x514D;&#x8CBB;&#x4F7F;&#x7528;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div id="standard-card" class="card shadow active d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="images/crm/new/rocket.png" alt=""></div>
                                    <h3>&#x6A19;&#x6E96;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;10&#x7F8E;&#x91D1;**</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x806F;&#x7D61;&#x4EBA;&#x53CA;&#x516C;&#x53F8;&#x540D;&#x55AE;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x5546;&#x6A5F;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x6848;&#x4EF6;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x767C;&#x9001;&#x96FB;&#x5B50;&#x90F5;&#x4EF6;</li>
                                <li class="bottom-bar">&#x6BCF;&#x500B;&#x6708;100&#x5C01;&#x514D;&#x8CBB;&#x7C21;&#x8A0A;*</li>
                                <li><p class="mb-0 w-100" style="font-style: italic;">*&#x6BCF;&#x5C01;&#x984D;&#x5916;&#x7C21;&#x8A0A;&#x4EE5;$0.07USD&#x53E6;&#x5916;&#x8A08;&#x50F9;</p><p class="mb-0 w-100" style="font-style: italic;">**&#x53F0;&#x7063;: $290 TWD, &#x9999;&#x6E2F;: $78 HKD, &#x65B0;&#x52A0;&#x5761;: $13.5 SGD &#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;&#x65B0;&#x52A0;&#x5761;: $13.5 SGD &#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;</p></li>
                                
                            </ul>
                         
                            <div class="d-flex justify-content-center mt-2 bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;">&#x99AC;&#x4E0A;&#x958B;&#x59CB;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="card shadow d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="images/crm/new/fire.png" alt=""></div>
                                    <h3>&#x4F01;&#x696D;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x5BA2;&#x88FD;&#x5316;&#x90E8;&#x7F72;</li>
                                <li class="bottom-bar">&#x79C1;&#x6709;&#x96F2;&#x7684;&#x9078;&#x64C7;</li>
                                <li class="bottom-bar">&#x5730;&#x7AEF;&#x7684;&#x9078;&#x64C7;</li>
                                <li class="bottom-bar">&#x512A;&#x5148;&#x5BA2;&#x6236;&#x652F;&#x63F4;</li>
                            </ul>
                            <div class="d-flex justify-content-center bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#contact-us" data-title="&#x514D;&#x8CBB;&#x53D6;&#x5F97;&#x7522;&#x54C1;&#x6F14;&#x793A;&#x6216;&#x5176;&#x4ED6;&#x8CC7;&#x8A0A;">&#x806F;&#x7D61;&#x6211;&#x5011;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  class="pageFill sc-ptb  pb-4">
            <div class="have-project we-padding">
            <div class="container">
                <div class="haveAproject">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>&#x60F3;&#x4E86;&#x89E3;&#x66F4;&#x591A;</h2>
                                <p>&#x60F3;&#x4E86;&#x89E3;&#x66F4;&#x591A;&#x5982;&#x4F55;&#x80FD;&#x5920;&#x96A8;&#x6642;&#x96A8;&#x5730;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x5BA2;&#x6236;&#x95DC;&#x4FC2;&#xFF0C;&#x6B61;&#x8FCE;&#x8207;&#x6211;&#x5011;&#x806F;&#x7E6B;&#x3002;</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                            <div class="wantToWork-btn f-right">
                                <div class="btn btn-ans" data-toggle="modal" data-target="#contact-us" data-title="&#x514D;&#x8CBB;&#x53D6;&#x5F97;&#x7522;&#x54C1;&#x6F14;&#x793A;&#x6216;&#x5176;&#x4ED6;&#x8CC7;&#x8A0A;">&#x806F;&#x7D61;&#x6211;&#x5011;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        
    </div>
</main>

    <footer>
        <div class="footer-main">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-4 col-sm-8">
                            <div class="single-footer-caption">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo-->
                                    <div class="footer-logo mb-3 mb-md-4">
                                        <a href="https://upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW">
                                           
                                        </a>
                                    </div>
                                    <div class="footer-social mb-2">
                                        <a href="https://www.facebook.com/upday.cloud" target="_blank"><i class="icon-facebook"></i></a>
                                        <a href="https://www.linkedin.com/company/updayai" target="_blank"><i class="icon-linkedin"></i></a>
                                        <a href="https://medium.com/@upday.ai" target="_blank"><i class="icon-medium"></i></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <ul>
                                                <li>
                                                    <a href="index.html#">sales@upday.ai</a>
                                                </li>
                                                <li>
                                                    <a href="index.html#">support@upday.ai</a>
                                                </li>
                                            </ul>
                                            <p class="info1">&#xA9;ART Solutions Limited 2022<br>&#x7248;&#x6B0A;&#x6240;&#x6709;&#x3002;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="contact-modal modal fade" id="contact-us" tabindex="-1" role="dialog" aria-labelledby="case-1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="contact-us-content">
            <div class="d-flex align-items-center justify-content-center">
                <h5 id="contact-us-title"></h5>
            </div>
            <div class="modal-body">
                <form name="getintouchform" action="index.html" method="post">
                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x59D3;" ng-model="layout.contactUsLastName" ng-required="true">
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x540D;" ng-model="layout.contactUsFirstName">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="&#x516C;&#x53F8;" ng-model="layout.contactUsCompany">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="mail" placeholder="&#x96FB;&#x5B50;&#x90F5;&#x4EF6;" inputmode="email"
                               ng-model="layout.contactUsEmail" ng-required="true">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="tel" placeholder="&#x96FB;&#x8A71;&#x865F;&#x78BC;" inputmode="tel"
                               ng-model="layout.contactUsPhoneNumber">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" name="" cols="30" rows="5" placeholder="&#x4FE1;&#x606F;&#x6216;&#x7559;&#x8A00;"
                                  ng-model="layout.contactUsMessage"></textarea>
                    </div>
                    <input class="btn hero-btn w-100" type="submit" value="&#x9001;&#x51FA;"
                           ng-click="getintouchform.$valid && ContactUsV3('zh-TW', false)">
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G8ZoGzylTtPoScvxSEk6aX6FQy3s3rkYwM950c1lOiIOYWeqsnGHz2P12XrWXw8YqQ2NeFA52fhWnKJ8RUSN4D9XvRV6uCagV7JOfCvbXb0kA8ttwlGRPVmCUheGqsNrHqPIbeUheL18xGjurTNsZ4" /></form>
            </div>
        </div>
        <div class="modal-content" id="contact-us-thanks" style="display:none;">
            <div class="modal-body">
                <p>&#x8B1D;&#x8B1D;&#x60A8;&#x7684;&#x7559;&#x8A00;, &#x6211;&#x5011;&#x6703;&#x5118;&#x5FEB;&#x56DE;&#x5FA9;!</p>
            </div>
        </div>
    </div>
</div>
    <div class="contact-modal modal fade" id="start-free" tabindex="-1" role="dialog" aria-labelledby="case-1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="start-free-content">
            <div class="d-flex align-items-center justify-content-center">
                <h5 id="start-free-title"></h5>
            </div>
            <div class="modal-body">
                <form name="startfreeform" action="index.html" method="post">
                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x59D3;" ng-model="layout.contactUsLastName" ng-required="true">
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x540D;" ng-model="layout.contactUsFirstName">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="&#x516C;&#x53F8;" ng-model="layout.contactUsCompany">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="mail" placeholder="&#x96FB;&#x5B50;&#x90F5;&#x4EF6;" inputmode="email"
                               ng-model="layout.contactUsEmail" ng-required="true">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="tel" placeholder="&#x96FB;&#x8A71;&#x865F;&#x78BC;" inputmode="tel"
                               ng-model="layout.contactUsPhoneNumber">
                    </div>
                    <input class="btn hero-btn w-100" type="submit" value="&#x9001;&#x51FA;"
                           ng-click="startfreeform.$valid && ContactUsV3('zh-TW', true)">
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G8ZoGzylTtPoScvxSEk6aX6FQy3s3rkYwM950c1lOiIOYWeqsnGHz2P12XrWXw8YqQ2NeFA52fhWnKJ8RUSN4D9XvRV6uCagV7JOfCvbXb0kA8ttwlGRPVmCUheGqsNrHqPIbeUheL18xGjurTNsZ4" /></form>
            </div>
        </div>
        <div class="modal-content" id="start-free-thanks" style="display:none;">
            <div class="modal-body">
                <p>&#x6211;&#x5011;&#x7684;&#x5718;&#x968A;&#x6B63;&#x5728;&#x5EFA;&#x7F6E;&#x555F;&#x7528;&#x60A8;&#x7684;&#x5E33;&#x865F;&#xFF0C;&#x7576;&#x4F5C;&#x696D;&#x5B8C;&#x6210;&#x60A8;&#x5C07;&#x6703;&#x6536;&#x5230;&#x6211;&#x5011;&#x7684;email&#xFF0C;&#x9084;&#x8ACB;&#x7559;&#x610F;&#x60A8;&#x7684;&#x4FE1;&#x7BB1;&#xFF0C;&#x8B1D;&#x8B1D;&#x3002;</p>
            </div>
        </div>
    </div>
</div>
    
    <!-- must have angular-slick.js -->
    <script type="text/javascript" src="v2/scripts/plugins/angular-slick.js"></script>

    <script type="text/javascript" src="crm/scripts/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap-->
    <script type="text/javascript" src="crm/scripts/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="crm/scripts/default/bootstrap.min.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/imgLiquid.js"></script>
    <!-- Jquery plugins-->
    <script type="text/javascript" src="crm/scripts/plugins/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/slick.min.js"></script>
    <!-- Date Picker-->
    <script type="text/javascript" src="crm/scripts/plugins/wow.min.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/animated.headline.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/jquery.magnific-popup.js"></script>
    <!-- Scrollup, nice-select, sticky-->
    <script>
        $('.we-create-area .slider').slick({
            arrows: false,
            dots: true,
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        adaptiveHeight: true
                    }
                }
            ]
        });
    </script>
    <script type="text/javascript" src="crm/scripts/plugins/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="crm/scripts/plugins/jquery.sticky.js"></script>
    <script type="text/javascript" src="crm/scripts/main.js?v=TxFwdfVXB__AcvkG4RL_aVdrEww_uE-F_VERCPQ1pQs"></script>
    
    <script type="text/javascript" src="js/controllers/home.js?v=cjzPCTymdAlDB2RLAOwaMXkn3o2cNuHFwN27TfkELu0"></script>

    <script>
        (function (d, t) {
            var BASE_URL = "https://chat.upday.ai";
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = BASE_URL + "/packs/js/sdk.js";
            g.defer = true;
            g.async = true;
            s.parentNode.insertBefore(g, s);
            g.onload = function () {
                window.chatwootSDK.run({
                    websiteToken: 'PpCk4fpzg3RNUxMKzGuMPZDd',
                    baseUrl: BASE_URL
                })
            }
        })(document, "script");
    </script>
</body>

</html>
