<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="app" id="ng-app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta property="og:image" content="/images/crm/favicon.ico">
    <meta property="og:title" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta property="og:description" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta property="description" content="UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;">
    <meta name="facebook-domain-verification" content="m42fqyicyivjveja96en8nwgfe4jue" />

    <link rel="icon" href="../images/crm/favicon.ico">
    <title>UpDay &#x4E00;&#x7AD9;&#x5F0F;&#x8F15;&#x9B06;&#x7BA1;&#x7406;&#x6240;&#x6709;&#x5BA2;&#x6236;&#x8CC7;&#x8A0A;</title>

    
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MD7KMW2');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-route.min.js"></script>
    <script type="text/javascript" src="../js/angular-touch.min.js"></script>
    <script type="text/javascript" src="../js/angular-sanitize.min.js"></script>

    <script type="text/javascript" src="../js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="../js/multirange.js"></script>
    <script type="text/javascript" src="../js/customSelect.js"></script>
    <script type="text/javascript" src="../js/controllers/app.js?v=BshmTSyCbjb9TyXCN1KiMQpdnMKL6rWKtHTHDXvSq90"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:300,400,600,700|Noto+Sans+TC:100,300,400,500,700,900"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../crm/styles/fonts/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../crm/styles/plugins.css?v=YBizSORNBSLluqWTY1NC42TrcnHRMa9RWSskW-5sPtU">
    <link rel="stylesheet" type="text/css" href="../crm/styles/common.css?v=sfLM9OIfk6-_85us-8Fwm_Naxx_0Ywf8unyC0NnsLFA">
    
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '862438881610893');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    
    <link rel="stylesheet" type="text/css" href="../crm/styles/cube.css?v=Vw8cJZZtO2WBMOsUlmoWpvbVtaJtZm38DxeMM73BJxc">
    <link rel="stylesheet" type="text/css" href="../crm/styles/index.css?v=fONW-PVZqDQlm4kO524pc0YzDHoaegckM1W9S6jK1JA">


    
    <!-- Facebook Pixel Code -->
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=862438881610893&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body ng-controller="MainCtrl" ng-cloak>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MD7KMW2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="header-area header-transparrent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-2 col-2">
                            <div class="logo">
                                <a href="https://www.upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-8 d-flex align-items-center justify-content-end">
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a href="Services#">&#x7522;&#x54C1;</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="https://www.upday.ai/Home/Sales?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="&#x92B7;&#x552E;">&#x92B7;&#x552E;</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.upday.ai/Home/Services?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="&#x5BA2;&#x6236;&#x670D;&#x52D9;">&#x5BA2;&#x6236;&#x670D;&#x52D9;</a>
                                                </li>
                                                <li>
                                                    <a href="https://www.upday.ai/Home/MessageBot?culture=zh-TW&amp;ui-culture=zh-TW"
                                                       alt="UpChat">UpChat</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW#price">&#x50F9;&#x9322;</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="lang-btn">
                                <span class="icon"><i class="icon-earth"></i></span>
                                <ul class="lang-nav nostyle">
                                    <li><a href="Services" title="中文" ng-click="SetLanguage('zh-TW')">中文</a></li>
                                    <li><a href="Services" title="English" ng-click="SetLanguage('en-US')">English</a></li>
                                </ul>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-lg-4">
                                <a href="https://app.upday.ai" target="_blank"><div class="btn header-btn-login">&#x767B;&#x5165;</div></a>
                                <div class="btn header-btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;&#xFF0C;&#x7D55;&#x5C0D;&#x514D;&#x8CBB;.">申請試用
                                    <!-- Get trial--></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="CfDJ8G8ZoGzylTtPoScvxSEk6aXb4sEuApYpAzPFoP5G3Xj4-k58isnYHQxJFROjw44sXD-E6m2dKRU3SvqHDCrZbNCXSdfGe_gSxgqtxXaIaPQLkzcvovJ1nQDsYwhMzJ6GKFEb7saYD73To2dabzY8554">
    <main id="sales" ng-controller="homeCtrl">
    <div ng-init="crmInit()">
        <div class="hero-area">
            <div class="hero-height d-flex align-items-center" data-background="../images/crm/new/hero-blob-left.png" style="background-image: url(&quot;../images/crm/new/hero-blob-left.png&quot;);">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-3 col-lg-4 col-12 mb-4 mb-md-0">
                            <div class="hero__caption">
                                <h5 class="t-primary mb-2">UpDay 客戶服務</h5>
                                <h1 data-animation="fadeInRight" data-delay=".4s">深化客戶關係 突破營運瓶頸
                                    <!-- Deepen Customer Relationships, Maximize Service Operations -->        
                                </h1>
                                <p class="wow fadeInUp d-02s" style="visibility: visible; animation-name: fadeInUp;">賦能無間斷、跨通路客服，輕鬆連動後勤前線，馬上改善客戶忠誠度
                                <!--  Delight customers with undisrupted omnichannel customer service, effortless connecting your front office and back office. -->
    
                                </p>
                                <div class="btn hero__btn" data-toggle="modal" data-target="#contact-us" data-title="免費取得產品演示或其他資訊">取得演示</div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-12">
                            <div class="pt-3 pb-3 pic zoom hero__img wow fadeInRight d-04s noshadow" data-animation="fadeInLeft" style="visibility:visible; animation-name:fadeInRight;"><img src="../images/crm/new/service-hero.png" alt=""></div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
   
         <section class="bg-light">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-5 row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/new/chatscreen.png" alt="UpDay">
                        </div>

                    </div>
                    
                    <div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">

                        <h2>用客戶喜歡的聊天工具互動 </h2>
                        <!-- Engage with customers with channels they love-->
                        <em class="f-subTitle d-block mb-2">Facebook, IG, Line, WhatsApp, Email, 電話, 網站即時聊天</em>
                        <!-- Facebook, IG, Line, WhatsApp, Email, Phone, Website Live Chat -->

                        <p>無縫轉換通路互動無中斷，讓您客戶喜出望外，感受以客為先的服務</p>
                        <!-- Seamless change channels during engagements, delight your customers by putting their needs first. -->

                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
        <section class="bg-white">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        
                        <h2>專員輕鬆處理大量客戶</h2>
                        <!-- Effortless handle customer’s requests, at scale -->
                        <em class="f-subTitle d-block mb-2">同時處理多客戶、多通路實時聊天</em>
                        <!-- Help agent easily serves multiple customers across channels simultaneously -->
                        <p>整合式聊天介面訊息不漏接，快速回應訊息模板，客戶標籤分類，貼心功能提升專員效率</p>
                        <!-- Intuitive, integrated chat panel with canned responses and customer tags, improved agent efficiency. -->
                    </div><div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/chatscreen2.png" alt="UpDay">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
        <section class="bg-light">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/new/chat03.png" alt="UpDay">
                        </div>
                    </div><div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        <h2>讓客戶感到您了解他們</h2>
                        <!--  Show your customers you know them well -->

                        <em class="f-subTitle d-block mb-2">快速辨認客戶，馬上增加好感度</em>
                        <!-- Recognize customers quickly, instantly delight customers -->

                        <p>UpDay CIC 客戶互動中心提供專員最好的服務工具，讓聊天跟後勤服務介面無縫整合，馬上彈出客戶360度視圖，專員輕鬆提供客戶貼心回覆，一次解決問題</p>  
                        <!-- UpDay CIC provides the best tools for agents to serve customers by integrating chat and support UI. Instantly recognize customers with 360 degree view empowered agents resolve inquiries, personalized, the first time. -->



                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
     
        <section  class="pageFill sc-ptb  pb-4 bg-light">
            <div id="price" class="container">

                <h2 class="mb-50 mt-50" style="text-align:center;">
                    一次搞定所有複雜案源 
                    <!-- Effortlessly solve complicated cases in one -->
                </h2>
                <div class="row cards">
                     
                     <div class="col-12 col-lg-4 mb-4 pl-2 pr-2 py-2">
                        <div id="standard-card" class="d-flex flex-column justify-content-between mx-md-auto">
                         <ul>
                              <li class="pack">
                                    <div class="pic pb-4 pr-3 pl-3 zoom">
                                        <img src="../images/crm/new/chatinbox.png" alt="">
                                        <h3>傳統與數位對話整合管理</h3>
                                        <!-- Unified Traditional and Digital Conversation Management -->

                                        <ul>
                                            <li id="basic" class="list-info">無論是傳統電話系統、 IP 數位電話、社交聊天工具，都能連結一起並且在同一個地方回覆</li>
                                            <!-- No matter it is traditional phone system, IP phone, social chat app, manage all in one place. -->


                                        </ul>
                                    </div>
                                </li>
                                
                         </ul>
            
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div id="standard-card" class="d-flex flex-column justify-content-between mx-md-auto">
                         <ul>
                              <li class="pack">
                                    <div class="pic pb-4 pr-3 pl-3 zoom">
                                        <img src="../images/crm/new/casedashboard.png" alt="">
                                        <h3>案例儀表板</h3>
                                        <!-- Visualized dashboard tells Case KPI -->
                                        <ul>
                                            <li id="basic" class="list-info">最直接紀錄呈現案件處理表現 ，透過即時報表提升客戶服務滿意度</li>
                                            <!-- All cases origins, types, priorities for each records can be summarized in a visualized way, get useful insight right away to see your performance without transfering to other report tools.  -->
                                        </ul>
                                    </div>
                                </li>
                                
                         </ul>
            
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div id="standard-card" class="d-flex flex-column justify-content-between mx-md-auto">
                         <ul>
                              <li class="pack">
                                    <div class="pic pb-4 pr-3 pl-3 zoom">
                                        <img src="../images/crm/new/chatapi.png" alt="">

                                        <h3>API建立客製渠道</h3>
                                        <!-- API connectors for customized channels  -->
                                        <ul>
                                            <li id="basic" class="list-info">使用API支援客製案例，UpChat的APIs可彈性整合任何第三方工具</li>
                                          <!--   UpChat supports integration with any 3rd party tool, use API to mediate all your customized needs for your cases. -->
                                        </ul>

                                    </div>
                                </li>
                                
                         </ul>
            
                        </div>
                    </div>
                </div>
            </div>

        </section>    

        <section class="bg-white">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        <h2>掌握自來客群的一切訊息</h2><em class="f-subTitle d-block mb-2">一頁通透客戶資訊</em>
                        <p>UpDay 協助您在一個頁面即時了解客戶的機會、訂單、查詢、問題、投訴與溝通歷史等關鍵資訊。</p>
                    </div><div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/case360.png" alt="UpDay">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
        
        <section class="bg-light">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/search.png" alt="UpDay">
                        </div>
                    </div><div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        <h2>快速檢視 簡單操作 輕鬆搜尋</h2><em class="f-subTitle d-block mb-2">專屬設計您的每日工作</em>
                        <p>您可透過 UpDay 的搜尋欄位，迅速找出客戶的相關資訊。UpDay 讓您精準、直覺的組織客戶資料，以利快速的做出行動。</p>
                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
        <section class="bg-white">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        <h2>全通路輕鬆行銷您的客戶</h2><em class="f-subTitle d-block mb-2">批量發送定制化訊息</em>
                        <p>在多種通訊服務上使用訊息模板，只要撰寫一次訊息，UpDay 替您生成用戶專屬的定製訊息。</p>
                    </div><div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/slider_03.svg" alt="UpDay">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>
        <section class="bg-light">
            <div class="pageFill pb-4 row justify-content-between">
            </div>
            <div class="container">
                <div class="pageFill pb-4 row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5 breck-pic wow fadeInRight d-03s" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="pb-4 pic zoom d-flex justify-content-center">
                            <img src="../images/crm/ka.png" alt="UpDay">
                        </div>
                    </div><div class="col-12 col-md-6 text wow fadeIn d-flex flex-column justify-content-center" style="visibility: visible; animation-name: fadeIn;">
                        <h2>建構您專屬的知識資料庫</h2><em class="f-subTitle d-block mb-2">優秀客服的秘密</em>
                        <p>告別一個問題東找西還解決不了，建構您專屬的知識資料庫，提供即時又完整的解答給您的客戶吧。</p>
                    </div>
                    
                </div>
            </div>
            <div class="pageFill pb-4 row justify-content-between">
            </div>
        </section>

         <section class="bg-white pb-5 pt-5 have-project we-padding">
            <h2 style="text-align:center; font-weight: bolder;">我們服務的全球品牌</h2>
            <div class="sc-ptb" style="height: 10%; padding: 0 2em;">
                <div class="row justify-content-center align-items-center clients">
                    <div class="col-12"><img class="img-fluid" style="filter:opacity(0.85);" src="../images/crm/clients_bw.png" alt=""></div>
                </div>
            </div>
        </section>
        
               
       <section  class="pageFill sc-ptb  pb-4">
            <div id="price" class="container">
                <h2 class="mb-50 mt-50" style="text-align:center;">&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;</h2>
                <div class="row cards">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="card shadow d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="../images/crm/new/palm-tree.png" alt=""></div>
                                    <h3>&#x514D;&#x8CBB;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x4E00;&#x4F4D;&#x4F7F;&#x7528;&#x8005;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x806F;&#x7D61;&#x4EBA;&#x53CA;&#x516C;&#x53F8;&#x540D;&#x55AE;</li>
                                <li class="bottom-bar">&#x6700;&#x591A;30&#x7B46;&#x5546;&#x6A5F;</li>
                                <li class="bottom-bar">&#x6700;&#x591A;30&#x7B46;&#x6848;&#x4F8B;</li>
                                <li class="bottom-bar">&#x514D;&#x8CBB;&#x50B3;&#x9001;&#x9996;1000&#x5C01;&#x96FB;&#x5B50;&#x90F5;&#x4EF6;</li>
                                <li class="bottom-bar">&#x514D;&#x8CBB;&#x767C;&#x9001;&#x9996;100&#x5C01;&#x7C21;&#x8A0A;*</li>
                                <li> <p class="mb-0 w-100" style="font-style: italic;">* &#x6BCF;&#x5C01;&#x984D;&#x5916;&#x7C21;&#x8A0A;&#x4EE5;$0.07USD&#x53E6;&#x5916;&#x8A08;&#x50F9;</p></li>
                            </ul>
                         
                            <div class="d-flex justify-content-center bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;&#xFF0C;&#x7D55;&#x5C0D;&#x514D;&#x8CBB;.">&#x514D;&#x8CBB;&#x4F7F;&#x7528;</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-4 mb-4">
                        <div id="standard-card" class="card shadow active d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="../images/crm/new/rocket.png" alt=""></div>
                                    <h3>&#x6A19;&#x6E96;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;10&#x7F8E;&#x91D1;**</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x806F;&#x7D61;&#x4EBA;&#x53CA;&#x516C;&#x53F8;&#x540D;&#x55AE;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x5546;&#x6A5F;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x7684;&#x6848;&#x4EF6;</li>
                                <li class="bottom-bar">&#x7121;&#x9650;&#x767C;&#x9001;&#x96FB;&#x5B50;&#x90F5;&#x4EF6;</li>
                                <li class="bottom-bar">&#x6BCF;&#x500B;&#x6708;100&#x5C01;&#x514D;&#x8CBB;&#x7C21;&#x8A0A;*</li>
                                <li><p class="mb-0 w-100" style="font-style: italic;">*&#x6BCF;&#x5C01;&#x984D;&#x5916;&#x7C21;&#x8A0A;&#x4EE5;$0.07USD&#x53E6;&#x5916;&#x8A08;&#x50F9;</p><p class="mb-0 w-100" style="font-style: italic;">**&#x53F0;&#x7063;: $290 TWD, &#x9999;&#x6E2F;: $78 HKD, &#x65B0;&#x52A0;&#x5761;: $13.5 SGD &#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;&#x65B0;&#x52A0;&#x5761;: $13.5 SGD &#x6BCF;&#x4F4D;&#x4F7F;&#x7528;&#x8005;&#x6BCF;&#x6708;</p></li>
                            </ul>
                         
                            <div class="d-flex justify-content-center mt-2 bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#start-free" data-title="&#x99AC;&#x4E0A;&#x555F;&#x7528; All-in-one CRM &#x9AD4;&#x9A57;">&#x99AC;&#x4E0A;&#x958B;&#x59CB;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="card shadow d-flex flex-column justify-content-between mx-md-auto">
                            <ul>
                                <li class="pack">
                                    <div class="pic pb-4"><img src="../images/crm/new/fire.png" alt=""></div>
                                    <h3>&#x4F01;&#x696D;&#x7248;</h3>
                                </li>
                                <li id="basic" class="price bottom-bar">&#x5BA2;&#x88FD;&#x5316;&#x90E8;&#x7F72;</li>
                                <li class="bottom-bar">&#x79C1;&#x6709;&#x96F2;&#x7684;&#x9078;&#x64C7;</li>
                                <li class="bottom-bar">&#x5730;&#x7AEF;&#x7684;&#x9078;&#x64C7;</li>
                                <li class="bottom-bar">&#x512A;&#x5148;&#x5BA2;&#x6236;&#x652F;&#x63F4;</li>
                            </ul>
                            <div class="d-flex justify-content-center bottom-bar">
                                <div class="btn" data-toggle="modal" data-target="#contact-us" data-title="&#x514D;&#x8CBB;&#x53D6;&#x5F97;&#x7522;&#x54C1;&#x6F14;&#x793A;&#x6216;&#x5176;&#x4ED6;&#x8CC7;&#x8A0A;">&#x806F;&#x7D61;&#x6211;&#x5011;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <div class="have-project we-padding">
            <div class="container">
                <div class="haveAproject">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>馬上行動、了解更多 
                                  </h2>
                                <p style="color:#fff;">想了解更多如何能夠隨時隨地輕鬆管理客戶關係，歡迎與我們聯繫。</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                            <div class="wantToWork-btn f-right">
                                <div class="btn btn-ans" data-toggle="modal" data-target="#contact-us" data-title="免費取得產品演示或其他資訊">聯絡我們</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <footer>
        <div class="footer-main">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-4 col-sm-8">
                            <div class="single-footer-caption">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo-->
                                    <div class="footer-logo mb-3 mb-md-4">
                                        <a href="https://www.upday.ai/?culture=zh-TW&amp;ui-culture=zh-TW">
                                          
                                        </a>
                                    </div>
                                    <div class="footer-social mb-2">
                                        <a href="https://www.facebook.com/upday.cloud" target="_blank"><i class="icon-facebook"></i></a>
                                        <a href="https://www.linkedin.com/company/updayai" target="_blank"><i class="icon-linkedin"></i></a>
                                        <a href="https://medium.com/@upday.ai" target="_blank"><i class="icon-medium"></i></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <ul>
                                                <li>
                                                    <a href="Services#">sales@upday.ai</a>
                                                </li>
                                                <li>
                                                    <a href="Services#">support@upday.ai</a>
                                                </li>
                                            </ul>
                                            <p class="info1">&#xA9;ART Solutions Limited 2022<br>&#x7248;&#x6B0A;&#x6240;&#x6709;&#x3002;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="contact-modal modal fade" id="contact-us" tabindex="-1" role="dialog" aria-labelledby="case-1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="contact-us-content">
            <div class="d-flex align-items-center justify-content-center">
                <h5 id="contact-us-title"></h5>
            </div>
            <div class="modal-body">
                <form name="getintouchform" action="Services" method="post">
                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x59D3;" ng-model="layout.contactUsLastName" ng-required="true">
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x540D;" ng-model="layout.contactUsFirstName">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="&#x516C;&#x53F8;" ng-model="layout.contactUsCompany">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="mail" placeholder="&#x96FB;&#x5B50;&#x90F5;&#x4EF6;" inputmode="email"
                               ng-model="layout.contactUsEmail" ng-required="true">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="tel" placeholder="&#x96FB;&#x8A71;&#x865F;&#x78BC;" inputmode="tel"
                               ng-model="layout.contactUsPhoneNumber">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" name="" cols="30" rows="5" placeholder="&#x4FE1;&#x606F;&#x6216;&#x7559;&#x8A00;"
                                  ng-model="layout.contactUsMessage"></textarea>
                    </div>
                    <input class="btn hero-btn w-100" type="submit" value="&#x9001;&#x51FA;"
                           ng-click="getintouchform.$valid && ContactUsV3('zh-TW', false)">
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G8ZoGzylTtPoScvxSEk6aXb4sEuApYpAzPFoP5G3Xj4-k58isnYHQxJFROjw44sXD-E6m2dKRU3SvqHDCrZbNCXSdfGe_gSxgqtxXaIaPQLkzcvovJ1nQDsYwhMzJ6GKFEb7saYD73To2dabzY8554" /></form>
            </div>
        </div>
        <div class="modal-content" id="contact-us-thanks" style="display:none;">
            <div class="modal-body">
                <p>&#x8B1D;&#x8B1D;&#x60A8;&#x7684;&#x7559;&#x8A00;, &#x6211;&#x5011;&#x6703;&#x5118;&#x5FEB;&#x56DE;&#x5FA9;!</p>
            </div>
        </div>
    </div>
</div>
    <div class="contact-modal modal fade" id="start-free" tabindex="-1" role="dialog" aria-labelledby="case-1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="start-free-content">
            <div class="d-flex align-items-center justify-content-center">
                <h5 id="start-free-title"></h5>
            </div>
            <div class="modal-body">
                <form name="startfreeform" action="Services" method="post">
                    <div class="row">
                        <div class="col-6 pr-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x59D3;" ng-model="layout.contactUsLastName" ng-required="true">
                            </div>
                        </div>
                        <div class="col-6 pl-2">
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="&#x540D;" ng-model="layout.contactUsFirstName">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="&#x516C;&#x53F8;" ng-model="layout.contactUsCompany">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="mail" placeholder="&#x96FB;&#x5B50;&#x90F5;&#x4EF6;" inputmode="email"
                               ng-model="layout.contactUsEmail" ng-required="true">
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="tel" placeholder="&#x96FB;&#x8A71;&#x865F;&#x78BC;" inputmode="tel"
                               ng-model="layout.contactUsPhoneNumber">
                    </div>
                    <input class="btn hero-btn w-100" type="submit" value="&#x9001;&#x51FA;"
                           ng-click="startfreeform.$valid && ContactUsV3('zh-TW', true)">
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G8ZoGzylTtPoScvxSEk6aXb4sEuApYpAzPFoP5G3Xj4-k58isnYHQxJFROjw44sXD-E6m2dKRU3SvqHDCrZbNCXSdfGe_gSxgqtxXaIaPQLkzcvovJ1nQDsYwhMzJ6GKFEb7saYD73To2dabzY8554" /></form>
            </div>
        </div>
        <div class="modal-content" id="start-free-thanks" style="display:none;">
            <div class="modal-body">
                <p>&#x6211;&#x5011;&#x7684;&#x5718;&#x968A;&#x6B63;&#x5728;&#x5EFA;&#x7F6E;&#x555F;&#x7528;&#x60A8;&#x7684;&#x5E33;&#x865F;&#xFF0C;&#x7576;&#x4F5C;&#x696D;&#x5B8C;&#x6210;&#x60A8;&#x5C07;&#x6703;&#x6536;&#x5230;&#x6211;&#x5011;&#x7684;email&#xFF0C;&#x9084;&#x8ACB;&#x7559;&#x610F;&#x60A8;&#x7684;&#x4FE1;&#x7BB1;&#xFF0C;&#x8B1D;&#x8B1D;&#x3002;</p>
            </div>
        </div>
    </div>
</div>
    
    <!-- must have angular-slick.js -->
    <script type="text/javascript" src="../v2/scripts/plugins/angular-slick.js"></script>

    <script type="text/javascript" src="../crm/scripts/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap-->
    <script type="text/javascript" src="../crm/scripts/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/default/bootstrap.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/imgLiquid.js"></script>
    <!-- Jquery plugins-->
    <script type="text/javascript" src="../crm/scripts/plugins/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/slick.min.js"></script>
    <!-- Date Picker-->
    <script type="text/javascript" src="../crm/scripts/plugins/wow.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/animated.headline.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/jquery.magnific-popup.js"></script>
    <!-- Scrollup, nice-select, sticky-->
    <script>
        $('.we-create-area .slider').slick({
            arrows: false,
            dots: true,
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        adaptiveHeight: true
                    }
                }
            ]
        });
    </script>
    <script type="text/javascript" src="../crm/scripts/plugins/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="../crm/scripts/plugins/jquery.sticky.js"></script>
    <script type="text/javascript" src="../crm/scripts/main.js?v=TxFwdfVXB__AcvkG4RL_aVdrEww_uE-F_VERCPQ1pQs"></script>
    
    <script type="text/javascript" src="../js/controllers/home.js?v=cjzPCTymdAlDB2RLAOwaMXkn3o2cNuHFwN27TfkELu0"></script>

    <script>
        (function (d, t) {
            var BASE_URL = "https://chat.upday.ai";
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = BASE_URL + "/packs/js/sdk.js";
            g.defer = true;
            g.async = true;
            s.parentNode.insertBefore(g, s);
            g.onload = function () {
                window.chatwootSDK.run({
                    websiteToken: 'PpCk4fpzg3RNUxMKzGuMPZDd',
                    baseUrl: BASE_URL
                })
            }
        })(document, "script");
    </script>
</body>

</html>
